.todo {
  width: 1055.82px;
}

.delete:hover {
  cursor: pointer;
}

.icon {
  margin-right: 20px;
}

.todos {
  margin-top: 100px;
}

.title {
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}

button {
  opacity: 0;
}
